u principu mariaDB ne zahteva local path odnosno da se init-uje u data folder, vec csv file push-ujem na MariaDB metodom df.to_sql , tu uvezujem konektor , chunk , i ime tabele, + if _exists , nastavi sutra ovo  skontao si dobro . zzzzz

In [ ]:
import sqlalchemy 
import pandas as pd
import os
from sqlalchemy import create_engine

work_dir = os.getcwd()
print(work_dir)

data_dir = os.path.join(work_dir,'_data')
print(data_dir)

df = pd.read_csv('_data\\airlines.csv')

c:\Users\jaske\PY\Python Data Science - Learning Path\Lessons with Tasklists\Python10
c:\Users\jaske\PY\Python Data Science - Learning Path\Lessons with Tasklists\Python10\_data

    Unnamed: 0 carrier                         name
0            1      9E            Endeavor Air Inc.
1            2      AA       American Airlines Inc.
2            3      AS         Alaska Airlines Inc.
3            4      B6              JetBlue Airways
4            5      DL         Delta Air Lines Inc.
5            6      EV     ExpressJet Airlines Inc.
6            7      F9       Frontier Airlines Inc.
7            8      FL  AirTran Airways Corporation
8            9      HA       Hawaiian Airlines Inc.
9           10      MQ                    Envoy Air
10          11      OO        SkyWest Airlines Inc.
11          12      UA        United Air Lines Inc.
12          13      US              US Airways Inc.
13          14      VX               Virgin America
14          15      WN       Southwest Airlines Co.
15          16      YV           Mesa Airlines Inc.